

.navi 
{
     font-size: 100%;
	display: inline;
	padding: 1% 1% ;
    text-decoration:none;
    color: black;
    background-color: skyblue;
    width: 100%;
}



nav a {
	width: 16%;
	display:inline-block;
	font-weight: 600;
	text-decoration:none;
	text-transform: uppercase;
    text-align: center;
   
}

#project{
text-align: center;
}

#project img{
width: 30%;
font-weight: 500;
margin-top: 10px;
    
}

h3{
text-align: center;
}